{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}
{% block content %}

<!-- Delete account information text + button -->
<div class="row my-3 p-3">
    <h1>Hello {{user.username}}</h1>
    <p>Click the button below if you wish to delete your account.</p>
    <p>Please note that you will not be able to regain your account again once it's deleted.</p>

    <button onclick="confirmDeleteAccount()" style="width: 250px; border:none; margin-left: 20px; padding: 10px; background-color: #3271C3; border-radius: 10px; color: white;">Delete Account</button>
</div>

{% endblock content %}


<!-- swal fire styling for delete button -->
{% block extras %}
<script>
    function confirmDeleteAccount() {
        Swal.fire({
            title: "Are you sure?",
            text: 'Do you want to delete your account?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: `No`
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'delete-profile' %}";
            }
        });
    }
</script>
    {% endblock %}